body {
    background: green;
    background-size: cover;
    box-sizing: border-box;
}

.numpad {
    padding: 10px;
    background: yellow;
    margin: 20px auto;
    height: auto;
    width: 30%;
    text-align: center;
}

.number {
    position: relative;
    display: inline-block;
    background: red;
    width: 25%;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    text-align: center;
    box-shadow: 2px 4px gray;
    transition: 0.2s ease;
    user-select: none;
    margin: 3px;
    line-height: 100%;
    vertical-align: middle;
}

.number:hover {
    color: white;
    background: lightcoral;
}

.number:active {
    color: black;
    background: red;
    top: 3px;
    box-shadow: 0px 0px;
}

@media only screen and (max-width:300px) {
    .number {
        font-size: 10px;
        width: 15%;
        padding-bottom: 15%;
    }
}

@media only screen and (min-width:300px) and (max-width:365px) {
    .number {
        font-size: 10px;
        width: 20%;
        padding-bottom: 20%;
    }
}

@media only screen and (max-width:175px) {
    .number {
        padding: 0px;
    }
    .number {
        font-size: 6px;
        width: 10%;
        padding-bottom: 10%;
    }
}